table, th, tr, td {
    border: 1px groove grey;
}
span.small {
    font-size: small;
}
span.bug-patch {
    color: brown;
    font-weight: bold;
    vertical-align: super;
}
span.bug-pending {
    color: #663300;
    font-weight: bold;
    vertical-align: super;
}
.nobr {
    white-space: nowrap;
}
tr.rc {
    background-color: #ff0000;
}
tr.important {
    background-color: #f9f940;
}
tr.minor {
    background-color: #4285f4;
}
tr.wishlist {
    background-color: #ffffff;
}
tr.ftbfs {
    background-color: #ff4444;
}
td.notesting {
    color: green;
}
